body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* top공간 차지를 많이해서 상단 앱바 패딩 조정 */
.css-8ksggj {
  padding: 10px !important;
}
/* home calendar 토요일 글자 색 변경 */
.fc-day-sat a {
  color: red;
}

@media (max-width: 880px) {
  .fc-toolbar-title {
    font-size: 1.35rem !important;
  }
}
.header_title {
  width: 100%;
  text-align: center;
}
h1 {
  margin: 0 0 21px 0;
}
#page_content {
  position: relative;
  height: auto;
}

.MuiDrawer-paperAnchorLeft {
  overflow-x: hidden;
}
