.bg_button {
  /* position: absolute;
  right: 5vw; */
  width: 13vw;
  height: 5vh;
  margin-top: 3vh;
}
.md_button {
  /* position: absolute;
  right: 5vw; */
  width: 8vw;
  height: 5vh;
}

#login_btn {
  position: static;
  justify-content: space-between;
  width: 30vw;
  right: 10vw;
  margin: 5vh;
}

#view_btn {
  position: absolute;
  right: 5vw;
  margin-top: 3vh;
}

#forgotPw_btn:hover {
  cursor: pointer;
}
