.bg_button {
  width: 13vw;
  height: 5vh;
  margin-top: 3vh;
}
.md_button {
  width: 100px;
  height: 5vh;
}

#view_btn {
  position: absolute;
  right: 5vw;
  margin-top: 3vh;
}

@media (max-width: 768px) {
  .bg_button {
    width: 30vw;
    height: 6vh;
    line-height: 5vh;
  }
}
