#page_container {
  display: flex;
  justify-content: center;
  /* display: inline; */
  width: 100vw;
  height: 100vh;
}
#image_container {
  width: 60vw;
}
#login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  height: 80vh;
  justify-content: space-between;
}
#right_align {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 10px 10px 0;
}
.input_container {
  margin: 10px auto;
  /* width: 30vw; */
}
/* Login.module.css */
#login_footer {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;

  /* Small Screen용 스타일 */
  @media (max-width: 600px) {
    flex-direction: column;
    width: 100%; /* 작은 화면에서는 전체 너비 사용 */
  }
}

#logoImg {
  /* height: 30vh;
  width: 30vw; */
  width: 253px;
  height: 282px;
  background-image: url("../../Assets/img/CLALogo.png"); /* 이미지 경로 */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#text_field {
  width: 30vw;
}
#slider {
  width: 100%;
  /* max-width: 600px; */
  /* margin: auto; */
  overflow: hidden;
  position: relative;
}
#slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
#slides img {
  width: 100%;
  display: flex;
}

.questionText {
  margin: 1vh 1vw;
  font-size: 15px;
}
.titleText {
  /* margin: 1vw 2vh; */
  font-weight: bold;
  font-size: 20px;
  color: #1b3da6;
}
.title {
  font-size: 35px;
}
#forgotPW_btn {
  font-size: 24px;
}
#forgotPw_btn:hover {
  cursor: pointer;
}
/* 모바일 뷰 */
@media (max-width: 768px) {
  .title {
    font-size: x-large;
  }
  #image_container {
    display: none;
    width: 0;
  }
  #login_container {
    width: 100%;
    align-items: center;
    height: 85vh;
    justify-content: space-between;
  }
  #forgot_pw_container {
    width: 100vw;
    align-items: flex-start;
    height: 85vh;
    justify-content: space-between;
  }

  #logoImg {
    width: 253px;
    height: 282px;
  }

  #login_footer {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
  }
}
