#page_container {
  display: flex;
  justify-content: space-between;
  /* display: inline; */
  width: 100vw;
  height: 100vh;
}
#image_container {
  width: 60vw;
}
#login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  height: 80vh;
  justify-content: space-between;
}
#right_align {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 1rem;
}
.input_container {
  margin: 1rem;
  /* width: 30vw; */
}
#login_footer {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}
#logoImg {
  height: 30vh;
  width: 30vw;

  background-image: url("../../Assets/img/CLALogo.png"); /* 이미지 경로 */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#text_field {
  width: 30vw;
}
#slider {
  width: 100%;
  /* max-width: 600px; */
  /* margin: auto; */
  overflow: hidden;
  position: relative;
}
#slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
#slides img {
  width: 100%;
  display: flex;
}

.questionText {
  margin: 1vh 1vw;
}
.titleText {
  margin: 1vw 2vh;
  font-weight: bold;
  font-size: larger;
  color: #1b3da6;
}
.title {
  font-size: 35px;
}
#forgotPw_btn:hover {
  cursor: pointer;
}
/* 모바일 뷰 */
@media (max-width: 768px) {
  .title {
    font-size: xx-large;
  }
  #image_container {
    display: none;
    width: 0;
  }
  #login_container {
    width: 100vw;
    align-items: center;
    height: 85vh;
    justify-content: space-between;
  }
  #forgot_pw_container {
    width: 100vw;
    align-items: flex-start;
    height: 85vh;
    justify-content: space-between;
  }

  #logoImg {
    height: 30vh;
    width: 50vw;
  }

  #login_footer {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
  }
}
